<%- include('partials/header1') %>
<%- include('partials/header2') %>
<%- include('partials/navbar') %>
<h1 class="display-1 text-center"><%= property.address %></h1>
<h1 class="display-5 text-center text-muted"><%= property.city %>, <%= property.state %> </h1>
<div class="container border-top">
    <div class="row mt-3">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Ratios</h5>
                    <p class="h6">Gross Rent Multiplier: <%= grossRentMultiplier.toFixed(2) %> </p>
                    <p class="h6">Yearly Captialization Rate: <%= capRate.toFixed(2) %> </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Purchase Information</h5>
                    <p class="h6">Purchase Price:
                        $<%= property.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>
                    <p class="h6">Monthly Rent: $<%= property.rent.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <h5 class="card-title text-center">House Information</h5>
                <div class="card-body">
                    <p class="h6">Bed: <%=property.beds%></p>
                    <p class="h6">Bath: <%=property.baths%></p>
                    <p class="h6">Sq Foot: <%=property.squareFootage%></p>
                </div>
            </div>
        </div>
    </div>
    <div><a href="/properties/<%=property._id %>/edit">Edit</a></div>
    <p>
    <form action="/properties/<%=property._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
</div>

<%- include('partials/footer') %>