<% layout('layouts/boilerplate') %>
<h1 class="text-center">All Properties</h1>
<% for (let property of properties) {%>
<div class="col-6 offset-3">
    <div class="card mb-3" style="max-width: 600px;">
        <div class="row g-0">
            <div class="col-md-7">
                <div class="card-body align-items-center justify-content-center">
                    <h5 class="card-title"><%= property.address %></h5>
                    <p class=" text-muted fs-5"><%= property.city %>, <%= property.state %></p>
                    <p class="card-text mb-0 pt-2">Bedrooms: <%= property.beds %></p>
                    <p class="card-text mb-0">Bathrooms: <%= property.baths %></p>
                    <p class="card-text mb-0">Square Feet: <%= property.sqFt %></p>
                </div>
            </div>
            <div class="col-md-5">
                <% if(property.images.length === 0)  {%>
                <a href="/properties/<%= property._id%>"><img
                        src="https://res.cloudinary.com/davatxx2f/image/upload/v1659678902/PropertyThing/quack_ih1amy.jpg"
                        class="img-fluid rounded-start" alt="Image of <%= property.address %>"> </a>
                <% } else {%>
                <a href="/properties/<%= property._id%>"><img src="<%= property.images[0].url %>"
                        class="img-thumbnail rounded-start" alt="Image of <%= property.address %> "> </a>
                <% } %>
            </div>
            <!--             <div>
                <% if (property.images.length === 0) {%>
                <a href="/properties/<%= property._id%>"><img
                        src="https://res.cloudinary.com/davatxx2f/image/upload/v1659678902/PropertyThing/quack_ih1amy.jpg"
                        alt="" class="img-fluid"></a>
                <% } else {%>
                <% for(let img of property.images) {%>
                <a href="/properties/<%= property._id%>"><img class="img-fluid" src="<%= img.url %>" alt="..."></a>
                <% } %>
                <% } %>
            </div> -->
        </div>
    </div>
</div>
<% } %>